<!DOCTYPE html>
<html lang="en">
<head>
  <title>Date Planner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <script src="https://ajax.googleapis
  .com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

  <div class="container" id="homePage">
    <h1>Welcome to LumiDate</h1>
    <i class="fas fa-calendar" ></i>
    <button class="button"><a href=#loginUsername>Login to your account</a></button>
  
    
  </div>



  <div class = "login">
    <div class = "username" id="loginUsername">
      <label for="Username"> Username </label>
      <span><input name="Username" type="text" class="text-line" /></span>
      <p></p>
      <label for="Password"> Password </label>
      <span><input name="Password" type="text" class="text-line" /></span>
    </div>
    
    
  </div>


  <div class = "preferences" id="options">
    <p><h3>Do you want to:</h3></p>
    <button class="button"><a href=#home>Stay in</a></button>
    <button class="button"><a href=#outside>Go out</a></button>
 </div>


    <div class = "stayHome" id="home">
        <h3> Staying In</h3>
        <div class = "indoor-option">
            <button class="button">Stay Active</button>
            <button class="button">Get Creative</button>
            <button class="button">Foodie</button>
            <button class="button">Get Cozy</button>
            <button class="button">Game Night</button>
            <button class="button">Wild Card</button>
        </div>
    </div>

    <div class = "go out" id="outside">
        <h3> Going Out </h3>
        <div class = "outdoor-option">
            <button class="button">Stay Active</button>
            <button class="button">Get Creative</button>
            <button class="button">Foodie</button>
            <button class="button">Get Cozy</button>
            <button class="button">Game Night</button>
            <button class="button">Wild Card</button>
            <button class="button">Support Local</button>
        </div>
    </div>

    



</body>
</html>